In [2]:
import pandas as pd
print(pd.__version__)

2.2.2

In [28]:
# Read file
laptops = pd.read_csv('laptops.csv')

# Questions 1 to 5

#pandas version
print(f"Pandas version: {pd.__version__}")
#Number of records
print(f"Number of records: {len(laptops)}")
# Unique brands
print(f"Unique brands: {len(laptops['Brand'].unique())}")
# Columns with null values
print(f"Columns with null values: {len(laptops.columns[laptops.isnull().any()])}")
# Max Final Price
print(f"Max Final Price: {laptops['Final Price'].max()}")

Pandas version: 2.2.2
Number of records: 2160
Unique brands: 27
Columns with null values: 3
Max Final Price: 7150.47

In [34]:
#Question 6
print(f"Median value of Screen: {laptops['Screen'].median()}")
mode = laptops['Screen'].mode()
print(f"Mode of Screen: {laptops['Screen'].mode()}")
new_screen_column = laptops['Screen'].fillna(value=mode)
print(f"Median value of Screen after fill NaN: {new_screen_column.median()}")

Median value of Screen: 15.6
Mode of Screen: 0    15.6
Name: Screen, dtype: float64
Median value of Screen after fill NaN: 15.6

In [44]:
# Question 7
import numpy as np

innjoo_laptops = laptops[laptops['Brand'] == 'Innjoo']
#Select columns
innjoo_laptops = innjoo_laptops[['RAM', 'Storage', 'Screen']]

In [45]:
innjoo_laptops

      RAM  Storage  Screen
1478    8      256    15.6
1479    8      512    15.6
1480    4       64    14.1
1481    6       64    14.1
1482    6      128    14.1
1483    6      128    14.1